.back {
  margin: 0;
  padding: 0;
  background-image: url(landing.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.box {
  align-items: center;
  text-align: center;
  border-radius: 30px;
  box-sizing: border-box; /* incluye el tamaño del borde en la anchura y altura del elemento */
  border: 1px solid black; /* especifica el tamaño y el color del borde */
  margin: auto;
  width: 50%; /* define el ancho del elemento */
  height: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  backdrop-filter: blur(10px);
}
